files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/analytics.sh

    "/usr/local/bin/analytics.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            echo "Present dir is " + $(pwd)
            # Your actual script content

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"