<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"  aria-current="page">🤖 PerfGPT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if auth['upload_status'] == 1 %}
                <li class="nav-item">
                    <a class="nav-link active" href="/upload">Upload</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/help">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/QAInsights/perfGPT/issues/new" target="_blank">Feedback</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item me-3 mt-2">
                    <button type="button" class="btn btn-primary switch">
                      <i class="fas fa-cloud-moon moon-icon" style="display: none; font-size: 1rem !important;"></i>
                      <i class="fas fa-cloud-sun sun-icon" style="display: block; font-size: 1rem !important;"></i>
                    </button>
                </li>
                <li class="nav-item me-3 mt-2">
                    <a class="github-button" href="https://github.com/qainsights/perfGPT" data-size="large" data-show-count="true">Star</a>
                </li>
                {% if auth['username'] != None %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ auth['username'] }}</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/account">Account</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<script language="JavaScript">
  // check if user has set a theme preference
  const storedTheme = localStorage.getItem('theme')
  if (storedTheme) {
    // set theme preference if it exists
    const html = document.querySelector('html')
    html.setAttribute('data-bs-theme', storedTheme)
    $('body').addClass(storedTheme)

    if (storedTheme === 'dark') {
      $('.moon-icon').css('display', 'block')
      $('.sun-icon').css('display', 'none')
      console.log("dark")
    } else {
      $('.moon-icon').css('display', 'none')
      $('.sun-icon').css('display', 'block')
      console.log("light")
    }
  }
  // toggle between light and dark mode
  $('.switch').click(() => {
    const html = document.querySelector('html')
    const currentTheme = html.getAttribute('data-bs-theme')
    const newTheme = currentTheme === 'light' ? 'dark' : 'light'
    html.setAttribute('data-bs-theme', newTheme)
    $('body').removeClass('light dark').addClass(newTheme)
    // toggle button icon
    $('.moon-icon').toggle()
    $('.sun-icon').toggle()

    // store theme preference in localStorage
    localStorage.setItem('theme', newTheme)
    console.log(newTheme)
  })
</script>