{% extends 'layout.html' %}
{% block contents %}
<div class="container">
  <h1>✅ Features and Limitations</h1><br/>
  <h4>⬆️ Upload file format</h4>
  <p class="lead">
    You can upload raw data in CSV format (recommended), JTL, or JSON using the performance testing tool of your choice.
  </p>
  <h4>📦 Maximum file size</h4>
  <p class="lead">
    The maximum file size is 10 MiB. Based on the tool usage, we may increase it further.
  </p>
  <h4>⚒️ What tools' results does it parse?</h4>
  <p class="lead">
    It is a tool agnostic parsing. You can upload the CSV (recommended), JTL, or JSON results from any performance testing tool.
  </p>
  <h4>🔐 OpenAI API key</h4>
  <p class="lead">
    No need to use your own OpenAI API key.
  </p>
</div>
{% endblock %}