{% extends 'layout.html' %}

{% block contents %}
<div class="container">
    <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">❌ Uh! oh!</h1>
        <p class="lead">{{ response | replace("\n", "<br>" | safe) }}</p>

    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{{ image }}" class="img-fluid border rounded-3 shadow-lg mb-4" width="700" height="500" alt="PerfGPT" loading="lazy">
      </div>
    </div>
  </div>
    </div>
<h1></h1>

{% endblock %}